*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;

}
body{
    /* max-width: 100%; */
}
ol, ul, li{
    margin: 0;
    padding: 0;
}


.header_section{

}

.header_section .top_bar{
    background: #2e3094;
    padding: 15px 0px;

}

.header_section .top_bar .top_menu{
    text-align: right;
   margin-right: 50px;
}

.header_section .top_bar .top_menu ul li{
    display: inline-block;
    padding: 5px 8px;
   
    
}

.header_section .top_bar .top_menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  
}

.header_section .top_bar .top_menu ul li a:hover{
    color: rgb(235, 129, 9);
}

.main_menu .navbar-brand img{
    max-width: 160px;
}

.main_menu button{
    border: none;
    background: none;
    
}
.search_btn{
    margin-right: 150px;
}

.apply_btn a{
    background-color: #2e3094;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.feature_section .row > *{
    padding-right: 0px;
    padding-left: 0px;
    
}

.feature_item{
    background: #0d1128;
    padding: 25px 30px;
}
.feature_item img{
    background: #fff;
    width: 50px;
    border: none;
}
.feature_item h4{
  color: #fff;
}

.feature_item p{
    color: #fff;
    text-align: justify;
  }

  .feature_item_2{
    background: #2e3094;
    padding: 25px 30px;
  }
  .feature_item_2 img{
    background: #fff;
    width: 50px;
    border: none;
}

.feature_item_2 h4{
    color: #fff;
}

.feature_item_2 p{
    color: #fff;
    text-align: justify;
    /* font-size: 22px; */
}


/* offer section css */

.offer_item .offer_icon{
    /* background: #2E3094; */
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* position: relative; */

}

.offer_item .offer_icon img{
    width: 50px;
    /* position: absolute;
    left: 6px;
    top: 6px;
     */
    
}


/* offer section css end */
.faculties_item{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 15px;
    padding: 30px 20px;
}
.faculties_item img{
    border-radius: 5px;
    height: 100%;

}
.faculties_content h4 {
    font-size: 20px;
    padding: 10px 0px;
}

.faculties_content h4 a{
    text-decoration: none;
    color: #000;
}

.faculties_content p{
    text-align: justify;
    color: #000;
    text-transform: capitalize;
    font-size: 15px;
    word-spacing: 0px;

}


/* event section css start */

.event_item{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 15px;
    padding: 30px 20px;
}


.event_item img{
    border-radius: 5px;

}
.event_content h4 {
    font-size: 18px;
    padding: 10px 0px;
}

.event_content h4 a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 10px 0px;
    
}

.event_content p{
    text-align: justify;
    color: #000;
    text-transform: capitalize;
    font-size: 15px;
    word-spacing: 0px;
}



/* event css end */

.alumni_item{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: center;
    border-radius: 4px;
}

.alumni_item .card{
    background-color:none;
    border: none;
}

.alumni_social_media a{
    color: #000;
    padding: 5px;
}


.ranking_item{
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 20px;
}

.footer_section{
    background: #232323;
}

.footer_section .footer_menu h4{
    color: #fff;
    font-size: 22px;
}

.footer_section .footer_menu ul li a{
    text-decoration: none;
    color: #b2a78f;
    font-size: 13px;
}

.email input{
    padding: 10px 20px;
    border: none;
}
.email input:focus{
    border: none;
}

.subscribe_btn a{
    background: #2e3094;
    color: #fff;
    padding: 10px 80px;
    text-decoration: none;
    border-radius: 2px;
}

.footer_bottom{
    border-top: 1px solid #fff;
}

.social_media a{
    color: #fff;
    margin: 5px;
}

.copyright  p{
    color: #fff;
    font-size: 14px;
}

/* about page css start */
.inner_banner_section{
    background: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 110px 0px;
}
.inner_banner_content h2{
    font-size: 20px;
    color: #fff;
}

.inner_banner_content h3{
    font-size: 16px;
    color: #fff
}
.inner_banner_content a{
    text-decoration: none;
    color: #fff;
}

/* about page css end */

/* admission page css */
.admission_info ul li{
    padding: 10px 0px;
}
.admission_info ul li a{
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding: 4px 0px;
   
}

